body{
    margin: 0;/*по умолчанию стоят отступы, сбрасываем их*/
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    background: linear-gradient(to top, white, #daf7fd);
}
/*box sizing фиксирует грагницы наших блоков(независимо от контента, который в них находится */
*,
*:before
*:after {
    box-sizing: border-box;
}
    /*Container*/
    /*=====================================*/
    .container{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
/*Header*/
/*=====================================*/
.header{
    font-family: 'Open Sans', sans-serif;
    color: #20003b;
    position: fixed;
    /*top: 0;
    left: 0;*/
    z-index: 1000;
    width: 100%;
    margin: auto;
    padding: 0;
    background: #90d5e7;
}
/*=====================================*/
/*HeaderInner*/
.header-inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #090803;
    padding: 0;
    align-items: center;
}
/*Img*/
.header img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    filter: drop-shadow(5px 6px 2px #4444dd);
}
/*=====================================*/
/*Nav*/
.nav{
    display: flex;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;

}
.navlink{
    margin-left: 50px;
    color: #0c0017;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.1s linear;

}
.navlink:hover{
    opacity: 1;
}
.navlink:active{
    color: wheat;
}
/*=====================================*/
/*Achieve list*/
.Name{
    margin-left: 30px;
}
.achievemets{
    align-items: center;
}
.achieve{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.achieve-list{
    list-style: none;
}
.achieve-list li{
    position: relative;
    padding: 20px 0 20px 40px;
    color: #33302a;
    font-variant: small-caps;
    font-weight: bold;
    cursor: pointer;
}
.achieve-list li:before{
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #4F5151;
    content: "";
    left: 0;
    transition: .3s ease-in-out;
    top: 27px;
}
.achieve-list li:after{
    position: absolute;
    border-left: 1px dotted #4F5151;
    width: 1px;
    bottom: -12px;
    content: "";
    left: 3px;
    top: 48px;
}
.achieve-list li:hover:before{box-shadow: 0 0 0 10px rgba(0,0,0,.2)}
.achieve-list li:last-child:after{content: none;}
.achievemets-info{
line-height: 30px;
    font-weight: normal;
    background-color: inherit;
    text-indent: 1em;
}
/*=====================================*/
/*Quote*/
.quote{
    font-family: 'Festive', cursive;
    font-style: italic;
    letter-spacing: 2px;
}
.quotetitle{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.quote cite{
    text-decoration: underline;
}
/*=====================================*/
/*Historical Fact*/
.historicalarticle{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.historicalfact{
    text-align: center;
    font-size: 16px;
}
/*=====================================*/



/*=====================================*/
/*footer*/
.footer{
    text-align: center;
    border-top: 1px solid #090803;
}
/*=====================================*/
/*title*/
.title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
/*=====================================*/
/*Mascot*/
.mascot{
    font-size: 17px;
}
/*=====================================*/
/*Code*/
.Code{
    font-weight: bold;
}
/*=====================================*/
/*Intro*/
.intro{
    height: 800px;
    background: #daf7fd url("img/pexels-johannes-plenio-2259232.jpg");
    background-size: cover;
}
/*=====================================*/
/*Table*/
.table{
    background-color: #ffffff;
    text-align: center;
    width: 100%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 0px;
    overflow: auto;
}
.box{
    font-size: 24px;
    line-height: 33px;
    padding: 1em;
}
/*=====================================*/
/*list*/
.list{
    text-align: center;
}

/*Media*/
@media (max-width: 1280px){
    .container{
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 750px;
    }
}















